/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* universal selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  /* boarders and paddings not added to the elements height and weight */
}

/* define font properties in body, so it inherits to all children */
body { 
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;

  padding: 30px;
}

.header {
  height: 95vh; /* 95% percent of viewport height */
  background-image: linear-gradient(to right bottom, #7ed56fc2, #27b485cc), url(../img/hero.jpg);
  background-size: cover;
  background-position: top; /* top of the background stay its position when window became small */
  position: relative;  /* for absolute position reference */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

.text-box {
  position: absolute;
  /* top and left are referenced to their parent; */
  top: 40%; 
  left: 50%;
  /* transform is referenced to itself */
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  backface-visibility: hidden; /* hidden when transforms */
  margin-bottom: 60px;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;

  animation-name: moveInLeft; /* variable name defined in @keyframes */
  animation-duration: 1s;
  animation-timing-function: ease-out;  /* fast -> slow */
  /* animation-iteration-count: 3; */
  /* animation-delay: 3s; */
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;

  animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
  /* position animation starts */
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(5px);
  }

  /* position animation ends */
  100% {
    opacity: 1;
    transform: translate(0); /* looks like original */
  }
}

@keyframes moveInRight {
  /* position animation starts */
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-5px);
  }

  /* position animation ends */
  100% {
    opacity: 1;
    transform: translate(0); /* looks like original */
  }
}

/* pseudo selector */
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}