.row {
  max-width: 114rem; // the size when having enough space, 100% when not enough
  background-color: #eee;
  margin: 0 auto; // center

  &:not(:last-child) { // everything except the last child
    margin-bottom: $gutter-vertical;
  }

  @include clearfix;

  [class^="col-"] {
    background-color: orangered;
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }

  .col-1-of-3 {
    width: calc((100% - #{$gutter-horizontal} * 2) / 3);
  }

  .col-1-of-4 {
    width: calc((100% - #{$gutter-horizontal} * 3) / 4);
  }

  .col-2-of-4 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }

  .col-3-of-4 {
    width: calc((100% - #{$gutter-horizontal}) * 3 / 4 + #{$gutter-horizontal} / 2);
  }
}